.profile {
  .inner {
    .contents {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .profile-box {
        width: calc(50% - 10px);
      }
    }
  }
}
// 데스크탑
@media screen and (max-width: $desktop) {
}
// 타블렛
@media screen and (max-width: $tablet) {
}
// 모바일
@media screen and (max-width: $mp) {
}